name: Build and Deploy Google Kubernetes Engine

on:
  push:
    branches:
      - main
      - master
      - test

env:
  PROJECT_ID: advance-display-462217-r9
  REGION: northamerica-northeast2
  CLUSTER_NAME: ci-cd-gke-cluster
  REPOSITORY: flask-api-repo
  IMAGE_NAME: flask-api
  DEPLOYMENT_NAME: flask-api
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-and-deploy:
   runs-on: ubuntu-latest

   steps:
    - name: Checkout code repo
      uses: actions/checkout@v3
    
    - name: Google authentication
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ env.PROJECT_ID }}
        install_components: 'gke-gcloud-auth-plugin'

    - name: Get GKE credentials
      run: |
        gcloud container clusters get-credentials  ${{ env.CLUSTER_NAME }} --region ${{ env.REGION }} --project ${{ env.PROJECT_ID }}
        
    - name: Configure Docker to use the Google Cloud registry
      run: | 
        gcloud auth configure-docker ${{env.REGION}}-docker.pkg.dev

    - name: Build Docker image
      run: |
        docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG}} ./flask-api

    - name: Push Docker image to Google Container Registry
      run: |
        docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG}}

    - name: Get GKE CRED
      run: |
        gcloud container clusters get-credentials ${{ env.CLUSTER_NAME }} --region ${{ env.REGION }}
    
    - name: Deploy to GKE
      run: |
        sed -i "s|__IMAGE_TAG__|${{ env.IMAGE_TAG }}|g" ./k8s/deployment.yaml
        kubectl apply -f ./k8s/deployment.yaml
        kubectl rollout status deployment/${{ env.DEPLOYMENT_NAME }}






